<p id="notice"><%= notice %></p>

<p>
  <span class="group_name">「<%= @volunteer_organization.name %>」</span>
</p>

<% @scrape_recruitment_info.each do |scrape_recruitment_info| %>
<ul>
  <li><%= scrape_recruitment_info.title %></li>
<li><%= scrape_recruitment_info.content %></li>

<li><a href="<%= scrape_recruitment_info.url %>"><%= scrape_recruitment_info.url %></a></li>

</ul>
<% end %>

<%= link_to 'Edit', edit_volunteer_organization_path(@volunteer_organization) %> |
<%= link_to 'Back', volunteer_organizations_path %>
